.modal-container.active {  
    background-color: rgba(0, 0, 0, 0.65);
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw; 
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;  
    // visibility: hidden;
    .modal-body { 
        background-color: #474576eb; 
        color: #efecef;
        padding: 30px 50px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        border-radius: 10px;
        width: 500px;
        max-width: 100%;
        font-size: 1rem;
        z-index: 1000; 
        text-align: start; 
      }
      .close-btn{  
        font-size: 25px;
      }
      .update-form {
        .btn-outline-light:hover{
          color: #474576;
          font-weight: normal;
        }
      }
} 

