.sidebar-container {
    background-color: white;  
    max-height: 400px;   
    button p { 
        font-weight: 700;
        font-size: .8rem;
        color: #53547d; 
        &:hover {
           color: #ad9fc3;
        }
    }
}