.sidebar-container { 
    height: 90%;
    align-items: center;
    justify-content: center;
    display: flex;
    button p { 
        font-weight: 700;
        font-size: .8rem;
        color: #53547d; 
        &:hover {
           color: #ad9fc3;
        }
    }

    @media (max-width: 771px) { 
        img {
            width: 20px !important;
        }
      }
}