@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Montserrat:wght@200;300;400;500;600;700&family=Oswald:wght@300;400;500&display=swap');
body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  background: rgb(83, 84, 125);
  background: linear-gradient(
    46deg,
    rgb(83, 84, 125) 10%,
    rgb(213, 198, 215) 50%,
    rgb(83, 84, 125) 100%
  );
}
.Router {  
  width: 80vw !important;
  height: 400px !important;
} 
.main-container { 
  max-width: 100%;
  max-height: 400px;
  overflow-y: auto;
}
.home h6 {
  line-height: 2rem;
} 
h6 { 
  color: #53547d;
  font-family: "Montserrat", sans-serif; 
  line-height: 1.7rem;
}
.brand {
  font-family: 'Bangers', cursive;
  font-size: 1.7rem;
  color: #53547d; 
  text-align: center; 
}
// .card {
//   background-color: #efecef !important;
// }
.form-auth {
  font-family: "Montserrat", sans-serif;   
  label {
    font-family: 'Oswald', sans-serif;
    color: #53547d;
  }
  input {
    border: none; 
    padding: .5rem 1.1rem;
  }
  p {
    font-size: .9rem;
    cursor: pointer;
    color: #53547d;
  }
  .btn-login {
    background-color: #53547d;
    font-size: .9rem;
    color: #efecef;
    &:hover {
      background-color: #53547de7; 
      color: #efecef;
    }
  }
  .btn-danger {
    font-size: .9rem;
  }
}  
.register-btn, .login-btn {
  background-color: #53547d !important; 
  font-size: .9rem !important;
  a {
    text-decoration: none;
    color: #efecef;
    &:hover {
      color: #efecef;
    }
  }
  &:hover{
    background-color: #53547de1 !important; 
  }
}
.Search {
  background: url("./assets/background.jpg") no-repeat;
  background-size: cover;
  background-position: center center;
  height: 150px;
  width: 100%;
  font-family: "Montserrat", sans-serif; 
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem; 

  .search-container {
    background-color: #efecef;
    border-radius: .7rem;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center; 
    padding: .25rem 0;
  }
  .search-container .search-input {
    width: 100%;
    background-color: #efecef;
    border-radius: 1rem;
    outline: none;
    border: 0;
    padding: 0.5rem .7rem;
  }
  .search-container .search-input::placeholder {
    color: #53547d;
    font-size: 1rem; 
  } 
}

