@import url("https://fonts.googleapis.com/css2?family=Bangers&family=Montserrat:wght@200;300;400;500;600;700&family=Oswald:wght@300;400;500&display=swap");
body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  background: rgb(83, 84, 125);
  background: linear-gradient(
    46deg,
    rgb(83, 84, 125) 10%,
    rgb(213, 198, 215) 50%,
    rgb(83, 84, 125) 100%
  );
}
.container {
  height: 500px !important;
  width: 750px !important; 
  .righCard {
    overflow-x: auto; 
  }
}
.auth-form {  
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  label {
      color: #72669b;  
      font-weight: 500;
  }
  input {  
      outline-style: none !important; 
      border: none; 
      font-size: .9rem !important;
      
      &:hover {  
          outline-style: none !important;
          border: none !important;
          transition: all .5s;
      } 
  }
  select {  
      border: none; 
      &:hover {  
          outline-style: none !important;
          border: none !important;
          transition: all .5s;
      }
  }
  .btn-auth {
      background-color: #53547d !important;
      color: #efecef !important;
      border: none;
      &:hover {
         background-color: #7b74a3 !important;  
      } 
  }
  .forgat {
    cursor: pointer;
  }
}
.home-description {
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  line-height: 2rem; 
}
.auth-btn {
  background-color: #53547d !important;
  color: #efecef !important;
  border: none;
  &:hover {
     background-color: #7b74a3 !important;  
  }
}  