@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@700&family=Montserrat:wght@300;400;500;600;700&display=swap');
.App {
  background: rgb(173, 159, 195);
  background: linear-gradient(
    90deg,
    rgba(173, 159, 195, 1) 10%,
    rgba(213, 198, 215, 1) 80%,
    rgba(221, 216, 220, 1) 100%
  );
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
}
.App h1 {
  color: #53547d;
  text-align: center;
}